<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Admin</title>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
        }

        .page-wrapper {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        .form-container {
            flex-grow: 1;
            width: 100%;
            /* Full width for both sections! */
            padding: 20px;
            box-sizing: border-box;
            /* Keep it neat with padding inside the width */
        }

        h1 {
            font-style: italic;
            margin: 0;
        }

        table {
            width: 100%;
            /* Stretch table to full width */
            margin-top: 20px;
            table-layout: auto;
            /* Auto-adjust columns like a pro! */
        }
    </style>
</head>

<body>
    <div class="page-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="/admin" style="text-decoration: none; color: black;">
                <h1>Welcome to Admin</h1>
            </a>
            <ul class="nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/search">Search</a>
                </li>
                <li>
                    <form action="/logout" class="d-inline">
                        <button type="submit" class="btn btn-outline-danger">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
        <!-- Services -->
        <div class="form-container">
            <h2>Services</h2>
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Service Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services %}
                    <tr>
                        <td>{{ service["id"] }}</td>
                        <td>{{ service["name"] }}</td>
                        <td>{{ service["description"] }}</td>
                        <td>{{ service["price"] }}</td>
                        <td>
                            <form action="{{ url_for('service', subpath='delete', id=service['id']) }}" method="post"
                                onsubmit="return confirm('Are you sure you want to delete this service?');">
                                <button class="btn btn-outline-danger btn-sm" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#serviceModal">
                + New Service
            </button>

            {% include 'add_service_modal.html' %}
        </div>
        <!-- Professionals -->
        <div class="form-container">
            <h2>Professionals</h2>
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Contact Number</th>
                        <th>Service ID</th>
                        <th>Rating</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for professional in professionals %}
                    <tr>
                        <td>
                            <a href="" data-toggle="modal" data-target="#professionalModal{{ professional['id'] }}">{{
                                professional['id'] }}</a>
                            {% include 'professional_info_modal.html' %}
                        </td>
                        <td>{{ professional["fname"] + ' ' + professional["lname"] }}</td>
                        <td>{{ professional["contact_number"] }}</td>
                        <td>{{ professional["service_id"] }}</td>
                        <td>{{ professional["rating"] }}</td>
                        <td>
                            {% if professional['status'] == None %}
                            <form action="{{ url_for('accept_reject_prof', id=professional['id']) }}" method="post">
                                <button class="btn btn-outline-success btn-sm" type="submit" value="accept"
                                    name="accept">Accept</button>
                                <button class="btn btn-outline-danger btn-sm" type="submit" value="reject"
                                    name="reject">Reject</button>
                            </form>
                            {% elif professional['status'] == 'active' %}
                            <form action="{{ url_for('delete', type='professional', id=professional['id']) }}"
                                method="post"
                                onsubmit="return confirm('Are you sure you want to remove this professional?');">
                                <button class="btn btn-outline-danger btn-sm" type="submit">Remove</button>
                            </form>
                            {% elif professional['status'] == 'block' %}
                            <form>
                                ...
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Customers -->
        <div class="form-container">
            <h2>Customers</h2>
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Contact Number</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                    <tr>
                        <td>
                            <a href="" data-toggle="modal" data-target="#customerModal{{ customer['id'] }}">{{
                                customer['id'] }}</a>
                            {% include 'customer_info_modal.html' %}
                        </td>
                        <td>{{ customer["fname"] + ' ' + customer["lname"] }}</td>
                        <td>{{ customer["contact_number"] }}</td>
                        <td>
                            {% if customer['status'] == 'active' %}
                            <form action="{{ url_for('delete', type='customer', id=customer['id']) }}" method="post"
                                onsubmit="return confirm('Are you sure you want to remove this customer?');">
                                <button class="btn btn-outline-danger btn-sm" type="submit">Remove</button>
                            </form>
                            {% elif customer['status'] == 'block' %}
                            <form>
                                ...
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        $('#serviceModal').on('shown.bs.modal', function () {
            $('#name').trigger('focus');
        });
    </script>
</body>

</html>