<!-- Modal -->
<div class="modal fade" id="serviceEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">Update Service</h5>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('service', subpath='update', id=service['id']) }}" id="editService" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input autofocus type="text" class="form-control" id="edit_name" name="edit_name" value="{{ service['name'] }}" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="edit_description" name="edit_description" rows="5">{{ service['description'] }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" min="1" step="any" class="form-control" id="edit_price" name="edit_price" value="{{ service['price'] }}" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary mx-2" data-dismiss="modal" style="width: 150px;">Cancel</button>
                <button type="submit" class="btn btn-primary mx-2" form="editService" style="width: 150px;">Update</button>
            </div>
        </div>
    </div>
</div>
