<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Professional Signup</title>
    <style>
        body {
            background-color: #f8f9fa;
            padding: 50px 0;
        }

        .form-container {
            max-width: 500px;
            /* Adjusted maximum width */
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        h2 {
            margin-bottom: 20px;
        }

        .btn-primary {
            width: 100%;
        }

        .form-check {
            padding-left: 0;
        }
    </style>
</head>

<body>

    <div class="form-container">
        <h2 class="text-center">Service Professional Signup</h2>
        <hr>
        <form action="/professional_signup" method="post">
            <!-- Name -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstName">First Name</label>
                    <input autofocus autocomplete="on" type="text" class="form-control" id="firstName" name="fname"
                        placeholder="Enter your first name" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" autocomplete="on" class="form-control" id="lastName" name="lname"
                        placeholder="Enter your last name">
                </div>
            </div>

            <!-- Email and Password -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail">Email</label>
                    <input autocomplete="on" type="email" class="form-control" id="email" name="email" placeholder="Enter your email"
                        required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                        placeholder="Enter password" required>
                </div>
            </div>

            <!-- Address -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputAddress">Address</label>
                    <input autocomplete="on" type="text" class="form-control" id="address" name="address"
                        placeholder="Numaish Camp, Saharanpur, Uttar Pradesh" required>
                </div>
            </div>

            <!-- Pincode and Contact Number -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="pincode">Pin Code</label>
                    <input autocomplete="on" type="number" class="form-control" id="pincode" name="pincode" placeholder="247001" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="contact_number">Contact Number</label>
                    <input autocomplete="on" type="number" class="form-control" id="contact_number" name="contact_number"
                        placeholder="+91" required>
                </div>
            </div>

            <!-- Experience and Services -->
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="services">Available Services</label>
                    <select class="form-control" id="services" name="service" required>
                        <option value="" disabled selected>Select a service...</option>
                        {% for service in services %}
                        <option value="{{ service['id'] }}">{{ service['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="experience">Experience</label>
                    <input type="number" class="form-control" id="experience" name="experience" placeholder="(in years)"
                        required>
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea autocomplete="off" class="form-control" id="description" name="description" rows="4"
                    placeholder="Briefly describe your service"></textarea>
            </div>

            <!-- Register Button -->
            <div class="form form-group">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
        <div class="form text-center">
            <a href="/login">Login Here</a>
        </div>
    </div>

</body>

</html>