<!-- Modal Trigger -->
<div class="modal fade" id="professionalModal" tabindex="-1" role="dialog" aria-labelledby="professionalModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="professionalModalLabel">Edit Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editProfile" action="{{ url_for('edit_profile', user_type='professional') }}" method="post">
                    <!-- Name -->
                    <input type="hidden" name="id" value="{{ professional['id'] }}">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstName">First Name</label>
                            <input autofocus autocomplete="on" type="text" class="form-control" id="firstName"
                                name="fname" value="{{ professional['fname'] }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Last Name</label>
                            <input autocomplete="on" type="text" class="form-control" id="lastName" name="lname"
                                value="{{ professional['lname'] }}">
                        </div>
                    </div>
                    <!-- Address -->
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputAddress">Address</label>
                            <input autocomplete="on" type="text" class="form-control" id="address" name="address"
                                value="{{ professional['address'] }}">
                        </div>
                    </div>
                    <!-- Contact Number and Pincode -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="pincode">Pin Code</label>
                            <input autocomplete="on" type="number" class="form-control" id="pincode" name="pincode"
                                value="{{ professional['pincode'] }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="contact_number">Contact Number</label>
                            <input autocomplete="on" type="number" class="form-control" id="contact_number"
                                name="contact_number" value="{{ professional['contact_number'] }}">
                        </div>
                    </div>
                    <!-- Experience and Services -->
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="services">Available Services</label>
                            <select class="form-control" id="services" name="service" required>
                                {% for service in services %}
                                {% if service['id'] == professional['service_id'] %}
                                <option value="{{ service['id'] }}" selected>{{ service['name'] }}</option>
                                {% else %}
                                <option value="{{ service['id'] }}">{{ service['name'] }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="experience">Experience</label>
                            <input type="number" class="form-control" id="experience" name="experience"
                                value="{{ professional['experience'] }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea autocomplete="off" class="form-control" id="description" name="description" rows="4">{{ professional['description'] }}</textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form form-group">
                    <button type="submit" class="btn btn-primary" form="editProfile">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>