<!-- Modal Trigger -->
<div class="modal fade" id="professionalModal{{ professional['id'] }}" tabindex="-1" role="dialog" aria-labelledby="professionalModalLabel{{ professional['id'] }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="professionalModalLabel{{ professional['id'] }}">Professional Details - {{ professional['name'] }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>ID:</strong> {{ professional['id'] }}</p>
                <p><strong>Name:</strong> {{ professional["fname"] + ' ' + professional["lname"] }}</p>
                <p style="word-wrap: break-word; word-break: break-word;"><strong>Address:</strong> {{ professional['address'] }}</p>
                <p><strong>Pincode:</strong> {{ professional['pincode'] }}</p>
                <p><strong>Contact Number:</strong> {{ professional['contact_number'] }}</p>
                <p><strong>Service ID:</strong> {{ professional['service_id'] }}</p>
                <p><strong>Email:</strong> {{ professional['email'] }}</p>
                <p><strong>Experience:</strong> {{ professional['experience'] }}</p>
                <p style="word-wrap: break-word; word-break: break-word;"><strong>Description:</strong> {{ professional['description'] }}</p>
                <p><strong>Date Created:</strong> {{ professional['date_created'] }}</p>
                <p><strong>Rating:</strong> {{ professional['rating'] }}</p>
                <p><strong>Status:</strong> {{ professional['status'] }}</p>
            </div>
        </div>
    </div>
</div>