<div class="container mt-5">
    <div class="row">
        <!-- Card -->
        {% for service in services %}
        <div class="col-md-3 mb-4">
            <div class="card square-card">
                <div class="card-body">
                    <h5 class="card-title">{{ service['name'] }}</h5>
                    <!-- Links at the bottom -->
                    <div class="card-links">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#serviceInfoModal{{ service['id'] }}">Details</button>
                        {% include 'service_info_modal.html' %}
                        <a href="#" class="btn btn-outline-secondary">Book</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>